.tokenomics-section{
    padding-top: 140px;
    padding-bottom: 120px;
    .section-title{
        max-width: 441px;
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }
}
.tokenomics-content{
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.tokenomics-card{
    border-radius: 20px;
    background: #FFE2E4;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: left;
    &.tokenomics-card3{
        padding: 29px 21px 29px 40px;
    }
    h5{
        margin-bottom: 0px;
    }
    h6{
        color: #111;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    p{
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}