@media only screen and (max-width: 1200px) {
  .tokenomics-card {
    padding: 20px;
    min-height: 100%;
  }
  .tokenomics-card .tokenomics-card3 {
    padding: 20px;
  }
  .what-is-pigcoin-card {
    padding: 80px 30px;
  }
  h5 {
    font-size: 18px;
  }
}